PORT="Your PORT"
ENV=development
DB_URL="MONGO DB URL"
ORIGIN=*
ACCESS_TOKEN_SECRET="YOUR ACCESS TOKEN SECRET"
ACCESS_TOKEN_EXPIRY="YOUR ACCESS TOKEN EXPIRY TIME"
REFRESH_TOKEN_SECRET="YOUR REFRESH TOKEN SECRET"
REFRESH_TOKEN_EXPIRY="YOUR REFRESH TOKEN EXPIRY TIME"
CLOUDINARY_CLOUD_NAME="YOUR CLOUD NAME"
CLOUDINARY_API_KEY="YOUR CLOUD API KEY"
CLOUDINARY_API_SECRET="YOUR CLOUD SECRET KEY"
MAILJET_API_KEY="YOUR MAILJET API KEY"
MAILJET_SECRET_KEY="YOUR MAILJET SECRET KEY"