<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Blog App</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: #333;
    }

    header {
      background-color: #2c3e50;
      color: #ecf0f1;
      text-align: center;
      padding: 1em;
    }

    section {
      padding: 2em;
      text-align: center;
    }

    .cta-button {
      display: inline-block;
      padding: 1em 2em;
      text-decoration: none;
      color: #ecf0f1;
      background-color: #3498db;
      border-radius: 5px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }

    .cta-button:hover {
      background-color: #2980b9;
    }

    footer {
      background-color: #34495e;
      color: #ecf0f1;
      text-align: center;
      padding: 1em;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body>

  <header>
    <h1>Your Blog App</h1>
    <p>Discover and share amazing stories.</p>
  </header>

  <section>
    <h2>Start Writing Today!</h2>
    <p>Create and share your thoughts with the world.</p>
    <h3>Postman API Collection</h3>
    <a href="https://documenter.getpostman.com/view/29238918/2s9YsQ7pKZ">Collection</a>
  </section>

  <footer>
    &copy; <%= currentYear %> Your Blog App. All rights reserved.
  </footer>

</body>

</html>